body {
    padding: 0;
    margin: 0;
    width:60em;
}

#game-wrapper {
    float:left;
}

#board-wrapper {
    padding: 1em 0 1em 1em;
    float:left;
    width: 26em;
}

#game-pgn {
    float:left;
    margin: 1em 0 0 1em;
}

#play-buttons, #game-status {
    text-align:center;
    margin:0.5em auto;
}

#pgn-actions {
    padding: 1em 0 1em 1em;
}

#pgn-actions p {
    margin-top: 0;
}

#pgn-input {
    height:4em;
}

#action-display div {
    display: none;
}
