body {
    padding: 0;
    margin: 0;
}


#game-wrapper {
    width: 26em;
    float:left;
    border-right: 1px solid #ccc;
}

#board-wrapper {
    border-bottom: 1px solid #ccc;
    padding: 1em;
}

#game-pgn {
    float:left;
    margin: 1em 0 0 1em;
}

#play-buttons, #game-status {
    text-align:center;
    margin:0.5em auto;
}

#pgn-actions {
    padding: 1em 0 1em 1em;
    margin-top: 1em;
}

#pgn-actions .box {
    box-sizing: border-box;
    width: 50%;
    float:left;
    padding-right: 1em;
}

#pgn-actions .box:last-child {
    padding-right: 0;
}

#pgn-actions p {
    margin-top: 0;
}

#pgn-input {
    height:4em;
}
