body {
    padding: 0;
    margin: 0;
}

#board-wrapper {
    padding: 1em;
    float:left;
    width: 26em;
}

#play-buttons, #game-status {
    text-align:center;
    margin:0.5em auto;
}

#pgn-wrapper {
    margin-left: 27em;
}

#pgn-wrapper hr {
    color:#ccc;
    background-color:#ccc;
    height: 2px;
    border:none;
    margin-right: 1em;
}

#game-pgn {
    margin: 1em;
}

#pgn-actions {
    padding: 1em;
}

#pgn-actions p {
    margin-bottom: 0;
}

#pgn-input {
    height:4em;
    width:23em;
    margin-bottom:1em;
}

#action-display div {
    display: none;
}

#action-url-save label {
    float:left;
    width: 7em;
}
